<title>@title_for_the_page</title>
<% @book.each do |posts| %>
<div class="">
  <h2>
  <a href="/<%= posts.id%>"><%= posts.title%></a></h2>
  <h3><%= posts.author%></h3>
  <p><%= posts.description%></p>
</div>


<% end %>
